$background-color: #f0f2f5;

.el-menu .el-submenu__title {
  padding-right: 45px;
}
::v-deep .el-submenu.is-disabled .el-submenu__title,
.el-menu-item.is-disabled {
  opacity: 0.6 !important;
  &:hover {
    background-color: #e0dfdf !important;
    color: #b4b8c7 !important;
    i {
      color: #b4b8c7 !important;
    }
  }
}
::v-deep .el-submenu .el-submenu__title {
  &:hover {
    background-color: rgba(0, 111, 106, 0.6) !important;
    color: #ffffff !important;
    i {
      color: #ffffff !important;
    }
  }
}
.el-menu-item {
  &:hover {
    background-color: rgba(0, 111, 106, 0.2) !important;
    color: #009d85 !important;
    i {
      color: #009d85 !important;
    }
  }
}
// .el-menu-item:hover{
//   background-color: rgba(0, 111, 106, 0.2) !important;
//   color: #009d85 !important;
// }